<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>

      <!-- TEST !!!!!!  SQL server na KOMUNALASRV - connection string -->
      <add name="ConStr2" connectionString="Data Source = komunalasrv\;Initial Catalog=Komunala_DB_test;Persist Security Info=True;User ID=sa;Password=Pl@n3tSQL"
          providerName="System.Data.SqlClient" />

      <!-- SQL server na KOMUNALASRV - connection string -->
      <add name="ConStr4" connectionString="Data Source = komunalasrv\;Initial Catalog=Komunala_DB;Persist Security Info=True;User ID=sa;Password=Pl@n3tSQL"
          providerName="System.Data.SqlClient" />
      <!-- Lokalni SQL server na računalniku - connection string -->
      <add name="ConStr" connectionString="Data Source = .\SQLEXPRESS;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Komunala_DB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ConStrl" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\KomunalaApp\Komunala\data\komunala_db.mdf; Integrated Security = True; Connect Timeout = 30"
            providerName="System.Data.SqlClient" />
        <add name="Komunala.Properties.Settings.komunala_dbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\data\komunala_db.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Komunala.Properties.Settings.Komunala_DBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Komunala_DB.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  <!-- mrežni connection string -->
  <!-- <add name="ConStr"
        connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\KomunalaApp\Komunala\data\komunala_db.mdf; Integrated Security = True; Connect Timeout = 30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  -->


  <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>