<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>

		<!-- SLUŽBA VSI SQL server na KOMUNALASRV - connection string -->
		<add name="ConStr2" connectionString="Data Source = komunalasrv\;Initial Catalog=Komunala_DB;Persist Security Info=True;User ID=sa;Password=Pl@n3tSQL" providerName="System.Data.SqlClient" />


		<!-- DOMA SQL server na računalniku - connection string -->
		<add name="ConStr" connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=Kora_db;Integrated Security=True" providerName="System.Data.SqlClient" />

		<!-- SLUŽBA TEST SQL server na KOMUNALASRV IP - connection string -->
      <add name="ConStr5" connectionString="Data Source = 192.168.5.6\;Initial Catalog=Komunala_DB_test;Persist Security Info=True;User ID=kora;Password=kora_123." providerName="System.Data.SqlClient" />

		<!-- SLUŽBA TEST SQL server na KOMUNALASRV - connection string -->
		<add name="ConStr6" connectionString="Data Source = komunalasrv\;Initial Catalog=Komunala_DB_test;Persist Security Info=True;User ID=kora;Password=kora_123." providerName="System.Data.SqlClient" />


      <!-- IZVEN SQL server na računalniku - connection string -->
      <add name="ConStr4" connectionString="Data Source = tcp:213.250.28.186,1433;Initial Catalog=Komunala_DB;Persist Security Info=True;User ID=sa;Password=Pl@n3tSQL" providerName="System.Data.SqlClient" />


      <!-- TEST !!!!!!  SQL server na KOMUNALASRV - connection string 
      <add name="ConStr12" connectionString="Data Source = komunalasrv\;Initial Catalog=Komunala_DB_test;Persist Security Info=True;User ID=sa;Password=Pl@n3tSQL"
          providerName="System.Data.SqlClient" />
      <add name="ConStr28" connectionString="Data Source = .\SQLEXPRESS;AttachDbFilename=c:\SQLExpress_2012\Data\Kora_db.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ConStr2l" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\KomunalaApp\Komunala\data\komunala_db.mdf; Integrated Security = True; Connect Timeout = 30"
            providerName="System.Data.SqlClient" />
        <add name="Komunala.Properties.Settings.komunala_dbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\data\komunala_db.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Komunala.Properties.Settings.Komunala_DBConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Komunala_DB.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" /> -->
    
    </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>