USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_Cenik_trg]    Script Date: 30. 12. 2020 13:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Cenik_trg](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Storitev] [int] NULL,
	[Em] [int] NULL,
	[Cena_trg] [float] NULL,
	[Skupina] [int] NULL,
	[Cena_obcina] [float] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_Cenik_trg] ON 

INSERT [dbo].[tbl_Cenik_trg] ([Id], [Storitev], [Em], [Cena_trg], [Skupina], [Cena_obcina]) VALUES (1, 19, 4, NULL, 7, 32.92)
INSERT [dbo].[tbl_Cenik_trg] ([Id], [Storitev], [Em], [Cena_trg], [Skupina], [Cena_obcina]) VALUES (2, 9, 4, NULL, 2, 20)
INSERT [dbo].[tbl_Cenik_trg] ([Id], [Storitev], [Em], [Cena_trg], [Skupina], [Cena_obcina]) VALUES (3, 10, 4, NULL, 2, 25)
GO
SET IDENTITY_INSERT [dbo].[tbl_Cenik_trg] OFF
