USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_hs]    Script Date: 29. 11. 2020 22:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_hs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ENOTA] [nvarchar](50) NULL,
	[HS_MID] [nvarchar](50) NULL,
	[HS] [nvarchar](50) NULL,
	[HD] [nvarchar](50) NULL,
	[LABELA] [nvarchar](50) NULL,
	[ULMID] [nvarchar](50) NULL,
	[NA_MID] [nvarchar](50) NULL,
	[OB_MID] [nvarchar](50) NULL,
	[PT_MID] [nvarchar](50) NULL,
	[PO_MID] [nvarchar](50) NULL,
	[X] [nvarchar](50) NULL,
	[Y] [nvarchar](50) NULL,
	[index_hs] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_hs] ON 

INSERT [dbo].[tbl_hs] ([Id], [ENOTA], [HS_MID], [HS], [HD], [LABELA], [ULMID], [NA_MID], [OB_MID], [PT_MID], [PO_MID], [X], [Y], [index_hs]) VALUES (139201, N'HS', N'19138828', N'21', N'E', N'21E', N'16276286', N'10093414', N'11026826', N'21429392', N'10252997', N'167892
', N'570983', N'spodnjaščavnica21e')
INSERT [dbo].[tbl_hs] ([Id], [ENOTA], [HS_MID], [HS], [HD], [LABELA], [ULMID], [NA_MID], [OB_MID], [PT_MID], [PO_MID], [X], [Y], [index_hs]) VALUES (139202, N'HS', N'19129730', N'41', N' ', N'41', N'16184829', N'10092752', N'11026826', N'21429392', N'19129241', N'169556
', N'576954', N'ljutomerskacesta41')
INSERT [dbo].[tbl_hs] ([Id], [ENOTA], [HS_MID], [HS], [HD], [LABELA], [ULMID], [NA_MID], [OB_MID], [PT_MID], [PO_MID], [X], [Y], [index_hs]) VALUES (139203, N'HS', N'11612261', N'27', N' ', N'27', N'16276006', N'10093147', N'11026826', N'21432237', N'10255201', N'163072
', N'572141', N'negova27')
GO
SET IDENTITY_INSERT [dbo].[tbl_hs] OFF
