USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_aglo]    Script Date: 9. 12. 2020 21:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_aglo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_aglo] [nchar](10) NULL,
	[ime_aglo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_aglo] ON 

INSERT [dbo].[tbl_aglo] ([Id], [id_aglo], [ime_aglo]) VALUES (4761, N'3064      ', N'Gornja Radgona
')
INSERT [dbo].[tbl_aglo] ([Id], [id_aglo], [ime_aglo]) VALUES (4762, N'3064      ', N'Gornja Radgona
')
INSERT [dbo].[tbl_aglo] ([Id], [id_aglo], [ime_aglo]) VALUES (4763, N'3064      ', N'Gornja Radgona
')
GO
SET IDENTITY_INSERT [dbo].[tbl_aglo] OFF
