USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_Storitve_dnevnik]    Script Date: 9. 12. 2020 21:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Storitve_dnevnik](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_dnevnik] [int] NULL,
	[Opis] [nvarchar](250) NULL,
	[Id_skupina] [int] NULL,
	[Skupina] [nvarchar](50) NULL,
	[Id_storitev] [int] NULL,
	[Storitev] [nvarchar](150) NULL,
	[EM] [nvarchar](50) NULL,
	[Kos] [float] NULL,
	[Znesek] [float] NULL,
	[Datum] [date] NULL,
	[Ddv] [float] NULL,
	[Objekt] [nvarchar](50) NULL,
	[Id_objekta] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_Storitve_dnevnik] ON 

INSERT [dbo].[tbl_Storitve_dnevnik] ([Id], [Id_dnevnik], [Opis], [Id_skupina], [Skupina], [Id_storitev], [Storitev], [EM], [Kos], [Znesek], [Datum], [Ddv], [Objekt], [Id_objekta]) VALUES (968, 382, N'', 10, N'Material ', 127, N'Kanalete ', N'kos', 60, 792, CAST(0xB5410B00 AS Date), 22, N'Mestne ulice', 1)
INSERT [dbo].[tbl_Storitve_dnevnik] ([Id], [Id_dnevnik], [Opis], [Id_skupina], [Skupina], [Id_storitev], [Storitev], [EM], [Kos], [Znesek], [Datum], [Ddv], [Objekt], [Id_objekta]) VALUES (969, 382, N'', 10, N'Material ', 113, N'Gramoz drobljenec - Kloch s prevozom', N't', 28.799999237060547, 290.29998779296875, CAST(0xB5410B00 AS Date), 22, N'Mestne ulice', 1)
INSERT [dbo].[tbl_Storitve_dnevnik] ([Id], [Id_dnevnik], [Opis], [Id_skupina], [Skupina], [Id_storitev], [Storitev], [EM], [Kos], [Znesek], [Datum], [Ddv], [Objekt], [Id_objekta]) VALUES (970, 382, N'', 7, N'Vozila in stroji', 19, N'JCB', N'ura', 10, 329.20001220703125, CAST(0xB5410B00 AS Date), 22, N'Mestne ulice', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_Storitve_dnevnik] OFF
