USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_Cenik]    Script Date: 29. 11. 2020 22:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Cenik](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Storitev] [int] NULL,
	[Em] [int] NULL,
	[Cena_trg] [float] NULL,
	[Skupina] [int] NULL,
	[Cena_obcina] [float] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_Cenik] ON 

INSERT [dbo].[tbl_Cenik] ([Id], [Storitev], [Em], [Cena_trg], [Skupina], [Cena_obcina]) VALUES (15, 19, 4, 888, 7, 32.92)
INSERT [dbo].[tbl_Cenik] ([Id], [Storitev], [Em], [Cena_trg], [Skupina], [Cena_obcina]) VALUES (19, 9, 4, 33, 2, 20)
INSERT [dbo].[tbl_Cenik] ([Id], [Storitev], [Em], [Cena_trg], [Skupina], [Cena_obcina]) VALUES (22, 10, 4, 33, 2, 25)
GO
SET IDENTITY_INSERT [dbo].[tbl_Cenik] OFF
