USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_ul]    Script Date: 29. 11. 2020 22:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ul](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ul_mid] [nvarchar](50) NULL,
	[ob_uime] [nvarchar](50) NULL,
	[na_uime] [nvarchar](50) NULL,
	[ul_uime] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_ul] ON 

INSERT [dbo].[tbl_ul] ([Id], [ul_mid], [ob_uime], [na_uime], [ul_uime]) VALUES (2754, N'16184748', N'Gornja Radgona', N'Gornja Radgona', N'Delavska pot')
INSERT [dbo].[tbl_ul] ([Id], [ul_mid], [ob_uime], [na_uime], [ul_uime]) VALUES (2755, N'16184799', N'Gornja Radgona', N'Gornja Radgona', N'Kerenčičeva ulica')
INSERT [dbo].[tbl_ul] ([Id], [ul_mid], [ob_uime], [na_uime], [ul_uime]) VALUES (2756, N'16184845', N'Gornja Radgona', N'Gornja Radgona', N'Mariborska cesta')
SET IDENTITY_INSERT [dbo].[tbl_ul] OFF
