USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[TblStoritve]    Script Date: 29. 11. 2020 22:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblStoritve](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Storitev] [nvarchar](150) NULL,
	[Skupina] [int] NULL,
	[Em] [int] NULL,
	[Ceniko] [int] NULL,
	[Cenikt] [int] NULL,
	[Ddv] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TblStoritve] ON 

INSERT [dbo].[TblStoritve] ([Id], [Storitev], [Skupina], [Em], [Ceniko], [Cenikt], [Ddv]) VALUES (1, N'NK delavec', 2, 4, 1, 1, 14)
INSERT [dbo].[TblStoritve] ([Id], [Storitev], [Skupina], [Em], [Ceniko], [Cenikt], [Ddv]) VALUES (4, N'PK delavec', 2, 4, 1, 1, 14)
INSERT [dbo].[TblStoritve] ([Id], [Storitev], [Skupina], [Em], [Ceniko], [Cenikt], [Ddv]) VALUES (5, N'KV delavec', 2, 4, 1, 1, 14)
GO
SET IDENTITY_INSERT [dbo].[TblStoritve] OFF
