USE [Komunala_DB_test]
GO
/****** Object:  Table [dbo].[tbl_VK1_ZK_osebe]    Script Date: 11. 02. 2021 14:55:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VK1_ZK_osebe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[emso] [nvarchar](13) NULL,
	[sif_obcine] [nchar](3) NULL,
	[sif_naselja] [nchar](3) NULL,
	[sif_ulice] [nchar](4) NULL,
	[hs] [nchar](3) NULL,
	[hsd] [nchar](1) NULL,
	[st_poste] [nchar](4) NULL,
	[priimek_ime] [nvarchar](60) NULL,
	[status_osebe] [nchar](1) NULL,
	[mid_naslova] [nchar](8) NULL,
	[mid_hs] [nchar](8) NULL,
	[kraj] [nvarchar](60) NULL,
	[posta] [nvarchar](60) NULL,
	[naslov_tujina] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_VK1_ZK_osebe] ON 

INSERT [dbo].[tbl_VK1_ZK_osebe] ([Id], [emso], [sif_obcine], [sif_naselja], [sif_ulice], [hs], [hsd], [st_poste], [priimek_ime], [status_osebe], [mid_naslova], [mid_hs], [kraj], [posta], [naslov_tujina]) VALUES (57073, N'7000980001283', N'999', N'008', N'036 ', N'004', N' ', N'0000', N'GJERKEŠ EMA', N'0', N'00000000', N'00000000', N'AVSTRALIJA', N'', N'AVSTRALIJA')
INSERT [dbo].[tbl_VK1_ZK_osebe] ([Id], [emso], [sif_obcine], [sif_naselja], [sif_ulice], [hs], [hsd], [st_poste], [priimek_ime], [status_osebe], [mid_naslova], [mid_hs], [kraj], [posta], [naslov_tujina]) VALUES (57074, N'1301951505173', N'029', N'006', N'002 ', N'036', N' ', N'9250', N'PUČKO DARINKA', N'0', N'16184861', N'11589731', N'PARTIZANSKA CESTA 36 ', N'9250 GORNJA RADGONA', N'')
INSERT [dbo].[tbl_VK1_ZK_osebe] ([Id], [emso], [sif_obcine], [sif_naselja], [sif_ulice], [hs], [hsd], [st_poste], [priimek_ime], [status_osebe], [mid_naslova], [mid_hs], [kraj], [posta], [naslov_tujina]) VALUES (57075, N'1111955500490', N'029', N'006', N'005 ', N'020', N' ', N'9250', N'HOLC VOJTEH', N'0', N'16184985', N'19126030', N'VODOVODNA ULICA 20 ', N'9250 GORNJA RADGONA', N'')
GO
SET IDENTITY_INSERT [dbo].[tbl_VK1_ZK_osebe] OFF
