USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[Strehe_neto]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strehe_neto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_ren_strehe] [int] NULL,
	[sid] [nchar](8) NULL,
	[neto] [float] NULL,
	[podvojena] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Strehe_neto] ON 

INSERT [dbo].[Strehe_neto] ([Id], [id_ren_strehe], [sid], [neto], [podvojena]) VALUES (13902, 32, N'23262323', 424.8, N'')
INSERT [dbo].[Strehe_neto] ([Id], [id_ren_strehe], [sid], [neto], [podvojena]) VALUES (13903, 30, N'23262321', 0, N'')
INSERT [dbo].[Strehe_neto] ([Id], [id_ren_strehe], [sid], [neto], [podvojena]) VALUES (13904, 29, N'23262322', 0, N'')
GO
SET IDENTITY_INSERT [dbo].[Strehe_neto] OFF
