USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_na]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_na](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ob_uime] [nvarchar](50) NULL,
	[na_uime] [nvarchar](50) NULL,
	[povrsina] [float] NULL,
	[index_na] [nvarchar](50) NULL,
	[na_mid] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_na] ON 

INSERT [dbo].[tbl_na] ([Id], [ob_uime], [na_uime], [povrsina], [index_na], [na_mid]) VALUES (151, N'Gornja Radgona', N'Aženski Vrh', 640443.1875, NULL, N'10092639')
INSERT [dbo].[tbl_na] ([Id], [ob_uime], [na_uime], [povrsina], [index_na], [na_mid]) VALUES (152, N'Gornja Radgona', N'Črešnjevci', 4792764, NULL, N'10092698')
INSERT [dbo].[tbl_na] ([Id], [ob_uime], [na_uime], [povrsina], [index_na], [na_mid]) VALUES (153, N'Gornja Radgona', N'Gornja Radgona', 2977245, NULL, N'10092752')
SET IDENTITY_INSERT [dbo].[tbl_na] OFF
