USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tblSituacije]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSituacije](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_objekta] [int] NULL,
	[Objekt] [nvarchar](50) NULL,
	[Mesec] [nchar](10) NULL,
	[Leto] [nchar](10) NULL,
	[Datum] [datetime] NULL,
	[id_situacije] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblSituacije] ON 

INSERT [dbo].[tblSituacije] ([Id], [id_objekta], [Objekt], [Mesec], [Leto], [Datum], [id_situacije]) VALUES (28, 2, N'Javne poti', N'september ', N'2020      ', CAST(0x0000AC2E0122CCA4 AS DateTime), N'2020september2')
INSERT [dbo].[tblSituacije] ([Id], [id_objekta], [Objekt], [Mesec], [Leto], [Datum], [id_situacije]) VALUES (29, 2, N'Javne poti', N'avgust    ', N'2020      ', CAST(0x0000AC0F01246200 AS DateTime), N'2020avgust2')
INSERT [dbo].[tblSituacije] ([Id], [id_objekta], [Objekt], [Mesec], [Leto], [Datum], [id_situacije]) VALUES (30, 1, N'Mestne ulice', N'oktober   ', N'2020      ', CAST(0x0000AC5C00A838A5 AS DateTime), N'2020oktober1')
SET IDENTITY_INSERT [dbo].[tblSituacije] OFF
