USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tblPrazniki]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPrazniki](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[d1] [int] NULL,
	[d2] [int] NULL,
	[d3] [int] NULL,
	[d4] [int] NULL,
	[d5] [int] NULL,
	[d6] [int] NULL,
	[d7] [int] NULL,
	[d8] [int] NULL,
	[d9] [int] NULL,
	[d10] [int] NULL,
	[d11] [int] NULL,
	[d12] [int] NULL,
	[d13] [int] NULL,
	[d14] [int] NULL,
	[d15] [int] NULL,
	[d16] [int] NULL,
	[d17] [int] NULL,
	[d18] [int] NULL,
	[d19] [int] NULL,
	[d20] [int] NULL,
	[d21] [int] NULL,
	[d22] [int] NULL,
	[d23] [int] NULL,
	[d24] [int] NULL,
	[d25] [int] NULL,
	[d26] [int] NULL,
	[d27] [int] NULL,
	[d28] [int] NULL,
	[d29] [int] NULL,
	[d30] [int] NULL,
	[d31] [int] NULL,
	[Mesec] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblPrazniki] ON 

INSERT [dbo].[tblPrazniki] ([Id], [d1], [d2], [d3], [d4], [d5], [d6], [d7], [d8], [d9], [d10], [d11], [d12], [d13], [d14], [d15], [d16], [d17], [d18], [d19], [d20], [d21], [d22], [d23], [d24], [d25], [d26], [d27], [d28], [d29], [d30], [d31], [Mesec]) VALUES (1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1)
INSERT [dbo].[tblPrazniki] ([Id], [d1], [d2], [d3], [d4], [d5], [d6], [d7], [d8], [d9], [d10], [d11], [d12], [d13], [d14], [d15], [d16], [d17], [d18], [d19], [d20], [d21], [d22], [d23], [d24], [d25], [d26], [d27], [d28], [d29], [d30], [d31], [Mesec]) VALUES (2, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 2)
INSERT [dbo].[tblPrazniki] ([Id], [d1], [d2], [d3], [d4], [d5], [d6], [d7], [d8], [d9], [d10], [d11], [d12], [d13], [d14], [d15], [d16], [d17], [d18], [d19], [d20], [d21], [d22], [d23], [d24], [d25], [d26], [d27], [d28], [d29], [d30], [d31], [Mesec]) VALUES (3, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 3)
SET IDENTITY_INSERT [dbo].[tblPrazniki] OFF
