USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[strehe_skupne_povrsine]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[strehe_skupne_povrsine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_ren_strehe] [int] NULL,
	[sta_sid] [nvarchar](8) NULL,
	[hsmid_gl] [nvarchar](8) NULL,
	[st_streh] [int] NULL,
	[posamezna_povrsina] [float] NULL,
	[skupna_povrsina] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[strehe_skupne_povrsine] ON 

INSERT [dbo].[strehe_skupne_povrsine] ([Id], [id_ren_strehe], [sta_sid], [hsmid_gl], [st_streh], [posamezna_povrsina], [skupna_povrsina]) VALUES (6453, 32, N'23262323', N'11581978', 0, 243.21975, 0)
INSERT [dbo].[strehe_skupne_povrsine] ([Id], [id_ren_strehe], [sta_sid], [hsmid_gl], [st_streh], [posamezna_povrsina], [skupna_povrsina]) VALUES (6454, 30, N'23262321', N'11581978', 0, 125.0343772, 0)
INSERT [dbo].[strehe_skupne_povrsine] ([Id], [id_ren_strehe], [sta_sid], [hsmid_gl], [st_streh], [posamezna_povrsina], [skupna_povrsina]) VALUES (6455, 29, N'23262322', N'11581978', 0, 214.8748, 0)
GO
SET IDENTITY_INSERT [dbo].[strehe_skupne_povrsine] OFF
