USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_ren_stavba_naslovi]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ren_stavba_naslovi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[sta_sid] [nchar](8) NULL,
	[hs_mid] [nchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_ren_stavba_naslovi] ON 

INSERT [dbo].[tbl_ren_stavba_naslovi] ([Id], [sta_sid], [hs_mid]) VALUES (5984, N'23260215', N'11620957')
INSERT [dbo].[tbl_ren_stavba_naslovi] ([Id], [sta_sid], [hs_mid]) VALUES (5985, N'23260943', N'11613861')
INSERT [dbo].[tbl_ren_stavba_naslovi] ([Id], [sta_sid], [hs_mid]) VALUES (5986, N'23261418', N'11587801')
GO
SET IDENTITY_INSERT [dbo].[tbl_ren_stavba_naslovi] OFF
