USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_Situacija_storitve]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Situacija_storitve](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_situacije] [int] NULL,
	[Id_storitve] [int] NULL,
	[Storitev] [nvarchar](150) NULL,
	[em] [nchar](10) NULL,
	[ddv] [float] NULL,
	[cena] [float] NULL,
	[kol_1] [float] NULL,
	[id_skupina] [int] NULL,
	[Skupina] [nvarchar](50) NULL,
	[dan] [int] NULL,
	[mesec] [int] NULL,
	[leto] [int] NULL,
	[datum] [date] NULL,
	[id_dnevnik] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_Situacija_storitve] ON 

INSERT [dbo].[tbl_Situacija_storitve] ([Id], [id_situacije], [Id_storitve], [Storitev], [em], [ddv], [cena], [kol_1], [id_skupina], [Skupina], [dan], [mesec], [leto], [datum], [id_dnevnik]) VALUES (1306, 30, 127, N'Kanalete ', N'kos       ', 22, 0, 60, 10, N'Material ', 20, 10, 2020, CAST(0xB5410B00 AS Date), 382)
INSERT [dbo].[tbl_Situacija_storitve] ([Id], [id_situacije], [Id_storitve], [Storitev], [em], [ddv], [cena], [kol_1], [id_skupina], [Skupina], [dan], [mesec], [leto], [datum], [id_dnevnik]) VALUES (1307, 30, 113, N'Gramoz drobljenec - Kloch s prevozom', N't         ', 22, 0, 28.8, 10, N'Material ', 20, 10, 2020, CAST(0xB5410B00 AS Date), 382)
INSERT [dbo].[tbl_Situacija_storitve] ([Id], [id_situacije], [Id_storitve], [Storitev], [em], [ddv], [cena], [kol_1], [id_skupina], [Skupina], [dan], [mesec], [leto], [datum], [id_dnevnik]) VALUES (1308, 30, 19, N'JCB', N'ura       ', 22, 0, 10, 7, N'Vozila in stroji', 20, 10, 2020, CAST(0xB5410B00 AS Date), 382)
GO
SET IDENTITY_INSERT [dbo].[tbl_Situacija_storitve] OFF
