USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[ren_Sifranti]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ren_Sifranti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idsif] [nvarchar](8) NULL,
	[tabela] [nvarchar](100) NULL,
	[opis_tabele] [nvarchar](500) NULL,
	[polje_pk] [nvarchar](100) NULL,
	[ime] [nvarchar](1000) NULL,
	[vrednost_n] [nvarchar](30) NULL,
	[vrednost_c] [nvarchar](100) NULL,
	[opis] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ren_Sifranti] ON 

INSERT [dbo].[ren_Sifranti] ([Id], [idsif], [tabela], [opis_tabele], [polje_pk], [ime], [vrednost_n], [vrednost_c], [opis]) VALUES (344, N'1221', N'MATERIAL_NOSILNE_KONSTRUKCIJE', N'Material nosilne konstrukcije', N'ID_KONSTRUKCIJE', N'kovinska konstrukcija', N'6', N'', N'6 - kovinska konstrukcija')
INSERT [dbo].[ren_Sifranti] ([Id], [idsif], [tabela], [opis_tabele], [polje_pk], [ime], [vrednost_n], [vrednost_c], [opis]) VALUES (345, N'1216', N'MATERIAL_NOSILNE_KONSTRUKCIJE', N'Material nosilne konstrukcije', N'ID_KONSTRUKCIJE', N'opeka', N'1', N'', N'1 - opeka')
INSERT [dbo].[ren_Sifranti] ([Id], [idsif], [tabela], [opis_tabele], [polje_pk], [ime], [vrednost_n], [vrednost_c], [opis]) VALUES (346, N'1217', N'MATERIAL_NOSILNE_KONSTRUKCIJE', N'Material nosilne konstrukcije', N'ID_KONSTRUKCIJE', N'beton, železobeton', N'2', N'', N'2 - beton, železobeton')
GO
SET IDENTITY_INSERT [dbo].[ren_Sifranti] OFF
