USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[ren_Strehe]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ren_Strehe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjectID] [nvarchar](10) NULL,
	[SID] [nvarchar](8) NULL,
	[Neto] [float] NULL,
	[Dvojna] [nvarchar](13) NULL,
	[HSMID] [nvarchar](8) NULL,
	[HSMID_GL] [nvarchar](8) NULL,
	[Glavna_streha] [nvarchar](1) NULL,
	[Povrsina] [float] NULL,
	[Povrsina_skupna] [float] NULL,
	[Opomba] [nvarchar](150) NULL,
	[kanalizacija] [nvarchar](1) NULL,
	[EMSO_LAST_REN] [nvarchar](13) NULL,
	[OM_ime] [nvarchar](1500) NULL,
	[OM_naslov] [nvarchar](150) NULL,
	[OM_labela] [nvarchar](30) NULL,
	[OM_posta] [nvarchar](150) NULL,
	[Vecstanovanjska] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ren_Strehe] ON 

INSERT [dbo].[ren_Strehe] ([Id], [ObjectID], [SID], [Neto], [Dvojna], [HSMID], [HSMID_GL], [Glavna_streha], [Povrsina], [Povrsina_skupna], [Opomba], [kanalizacija], [EMSO_LAST_REN], [OM_ime], [OM_naslov], [OM_labela], [OM_posta], [Vecstanovanjska]) VALUES (16505, N'32', N'23262323', NULL, NULL, N'11581978', N'11581978', N'1', 243.21975, 583.12892719999991, N' ', N'1', N'', N'ŠENVETER MIRKO', N'ČREŠNJEVCI', N'1', N'9250 GORNJA RADGONA', NULL)
INSERT [dbo].[ren_Strehe] ([Id], [ObjectID], [SID], [Neto], [Dvojna], [HSMID], [HSMID_GL], [Glavna_streha], [Povrsina], [Povrsina_skupna], [Opomba], [kanalizacija], [EMSO_LAST_REN], [OM_ime], [OM_naslov], [OM_labela], [OM_posta], [Vecstanovanjska]) VALUES (16506, N'30', N'23262321', NULL, NULL, N'0', N'11581978', N'0', 125.0343772, 583.12892719999991, N' ', N'', N'', N'', N'', N'', N' ', NULL)
INSERT [dbo].[ren_Strehe] ([Id], [ObjectID], [SID], [Neto], [Dvojna], [HSMID], [HSMID_GL], [Glavna_streha], [Povrsina], [Povrsina_skupna], [Opomba], [kanalizacija], [EMSO_LAST_REN], [OM_ime], [OM_naslov], [OM_labela], [OM_posta], [Vecstanovanjska]) VALUES (16507, N'29', N'23262322', NULL, NULL, N'0', N'11581978', N'0', 214.8748, 583.12892719999991, N' ', N'', N'', N'', N'', N'', N' ', NULL)
GO
SET IDENTITY_INSERT [dbo].[ren_Strehe] OFF
