USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_ren_sta_par]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ren_sta_par](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[sta_sid] [nvarchar](8) NULL,
	[pc_mid] [nvarchar](12) NULL,
	[povrsina] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_ren_sta_par] ON 

INSERT [dbo].[tbl_ren_sta_par] ([Id], [sta_sid], [pc_mid], [povrsina]) VALUES (24133, N'20742794', N'34228480', 347)
INSERT [dbo].[tbl_ren_sta_par] ([Id], [sta_sid], [pc_mid], [povrsina]) VALUES (24134, N'20742796', N'34228484', 345)
INSERT [dbo].[tbl_ren_sta_par] ([Id], [sta_sid], [pc_mid], [povrsina]) VALUES (24135, N'20742798', N'34228482', 292)
GO
SET IDENTITY_INSERT [dbo].[tbl_ren_sta_par] OFF
