USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[Tbl_Telefonske]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Telefonske](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Skupina] [int] NULL,
	[rb_mobilna] [int] NULL,
	[Stevilka] [nvarchar](50) NULL,
	[Mpo] [nchar](10) NULL,
	[Aktivna] [bit] NULL,
	[Opis] [nvarchar](250) NULL,
	[rb_oseba] [int] NULL,
	[Oseba] [int] NULL,
	[Objekt] [int] NULL,
	[Opomba] [nvarchar](max) NULL,
	[Imenik] [bit] NULL,
	[sm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Tbl_Telefonske] ON 

INSERT [dbo].[Tbl_Telefonske] ([Id], [Skupina], [rb_mobilna], [Stevilka], [Mpo], [Aktivna], [Opis], [rb_oseba], [Oseba], [Objekt], [Opomba], [Imenik], [sm]) VALUES (1, 0, 1, N'031 773 860', N'222       ', 1, N'Dimec Andrej, mobilna številka', 1, 1, -99, N'', 1, 2)
INSERT [dbo].[Tbl_Telefonske] ([Id], [Skupina], [rb_mobilna], [Stevilka], [Mpo], [Aktivna], [Opis], [rb_oseba], [Oseba], [Objekt], [Opomba], [Imenik], [sm]) VALUES (2, 0, 2, N'02 5644 802', N'          ', 1, N'Skaza Simona, stacionarna številka', 1, 2, -99, N'', 1, -99)
INSERT [dbo].[Tbl_Telefonske] ([Id], [Skupina], [rb_mobilna], [Stevilka], [Mpo], [Aktivna], [Opis], [rb_oseba], [Oseba], [Objekt], [Opomba], [Imenik], [sm]) VALUES (5, 0, 1, N'051 610 213', N'  213     ', 1, N'Cipot Bojan, mobilna številka', 1, 7, -99, N'', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Tbl_Telefonske] OFF
