USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_Dnevnik]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Dnevnik](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Objekt_id] [int] NULL,
	[Dnevnik_id] [int] NOT NULL,
	[Objekt] [nvarchar](50) NULL,
	[Stevilka] [int] NULL,
	[Datum] [date] NULL,
	[ura_od] [nchar](10) NULL,
	[ura_do] [nchar](10) NULL,
	[Delavci_iz_vo] [int] NULL,
	[Delavci_iz_gr] [int] NULL,
	[Delavci_iz_ob] [int] NULL,
	[Delavci_iz_in] [int] NULL,
	[Delavci_iz_dr] [int] NULL,
	[Delavci_na_vo] [int] NULL,
	[Delavci_na_gr] [int] NULL,
	[Delavci_na_ob] [int] NULL,
	[Delavci_na_in] [int] NULL,
	[Delavci_na_dr] [int] NULL,
	[Delavci_po_vo] [int] NULL,
	[Delavci_po_gr] [int] NULL,
	[Delavci_po_ob] [int] NULL,
	[Delavci_po_in] [int] NULL,
	[Delavci_po_dr] [int] NULL,
	[Delavci_iz_sk] [int] NULL,
	[Delavci_po_sk] [int] NULL,
	[Delavci_na_sk] [int] NULL,
	[Stroji_iz_1] [nvarchar](50) NULL,
	[Stroji_iz_2] [nvarchar](50) NULL,
	[Stroji_iz_3] [nvarchar](50) NULL,
	[Stroji_iz_4] [nvarchar](50) NULL,
	[Stroji_iz_5] [nvarchar](50) NULL,
	[Stroji_iz_6] [nvarchar](50) NULL,
	[Stroji_na_1] [nvarchar](50) NULL,
	[Stroji_na_2] [nvarchar](50) NULL,
	[Stroji_na_3] [nvarchar](50) NULL,
	[Stroji_na_4] [nvarchar](50) NULL,
	[Stroji_na_5] [nvarchar](50) NULL,
	[Stroji_na_6] [nvarchar](50) NULL,
	[vreme_6] [nvarchar](50) NULL,
	[vreme_12] [nvarchar](50) NULL,
	[vreme_18] [nvarchar](50) NULL,
	[vreme_24] [nvarchar](50) NULL,
	[temp_6] [nchar](10) NULL,
	[temp_12] [nchar](10) NULL,
	[temp_18] [nchar](10) NULL,
	[temp_24] [nchar](10) NULL,
	[Sestavil] [nvarchar](50) NULL,
	[Nadzornik] [nvarchar](50) NULL,
	[Vodja] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_Dnevnik] ON 

GO
SET IDENTITY_INSERT [dbo].[tbl_Dnevnik] OFF
