USE [C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\KOMUNALA_DB.MDF]
GO
/****** Object:  Table [dbo].[tbl_cad]    Script Date: 28. 02. 2021 21:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_cad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[hsmid] [nvarchar](50) NULL,
	[naziv] [nvarchar](1000) NULL,
	[kraj] [nvarchar](50) NULL,
	[ulica] [nvarchar](50) NULL,
	[hs] [nvarchar](50) NULL,
	[posta] [nvarchar](50) NULL,
	[ime_poste] [nvarchar](50) NULL,
	[vodovod] [int] NULL,
	[kanalizacija] [int] NULL,
	[greznica] [int] NULL,
	[smeti] [int] NULL,
	[dimenzija] [nvarchar](50) NULL,
	[tip_om] [nvarchar](550) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_cad] ON 

INSERT [dbo].[tbl_cad] ([Id], [hsmid], [naziv], [kraj], [ulica], [hs], [posta], [ime_poste], [vodovod], [kanalizacija], [greznica], [smeti], [dimenzija], [tip_om]) VALUES (49430, N'88', N'KRALJ MILAN', N'ČREŠNJEVCI', N'ČREŠNJEVCI', N'35B', N'9250', N'GORNJA RADGONA', 1, 1, 0, 0, N'20,00 €', N'GOSPODINJSTVO')
INSERT [dbo].[tbl_cad] ([Id], [hsmid], [naziv], [kraj], [ulica], [hs], [posta], [ime_poste], [vodovod], [kanalizacija], [greznica], [smeti], [dimenzija], [tip_om]) VALUES (49431, N'99', N'AUGUŠTIN ', N'ČREŠNJEVCI', N'ČREŠNJEVCI', N'vikend', N'9250', N'SV.JURIJ OB ŠČAVNICI', 1, 1, 1, 1, N'50,00 €', N'GOSPODARSTVO,GOSPODINJSTVO,GOSPODINJSTVO - BLOKI,NEGOSPODARSTVO')
GO
SET IDENTITY_INSERT [dbo].[tbl_cad] OFF
